{% extends 'award/base.html' %}
{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
             </div>
    {% for project in all_project %}
    <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="">
                            <h2>{{ project.name }}</h2>
                             <img src="{{project.image.url}}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>{{ project.description }}</h4>
                            <h4>{{ project.link }}</h4>
                            <h4>{{ project.profile }}</h4>
                            <h4>{{ project.user }}</h4>
                            <h4>{{ project.date }}</h4>



                        </div>
                    </div>
    </div>
    </div>
</div>
{% endblock %}