{%extends "registration/base.html"%} {% load bootstrap4 %} {%load static%} {% block content %}

<div class="container" style="background-color:#fff;">
  <div class="row">


            <div class="col-xs-12 col-sm-3 col-md-8 mt-5 ">
      <img class="thumbnail" src="{% static 'image/p.jpeg' %}" style="height:400px;width:450px;">

      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Have an account already?</h5>
          <h2 style="color:grey;font-size:10px;">By signing up, you agree to our Terms, Data Policy and Cookies Policy.</h2>
          <a href="/accounts/login" class="btn btn-primary">Login</a>
        </div>
      </div>

      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Get the app.</h5>
          <a href="https://itunes.apple.com/ke/app/instagram/id389801252?mt=8"><img src="{% static 'image/mac.png' %}"
              style="height:70px;width:200px;"></a>
          <a href="https://play.google.com/store?hl=en"><img src="{% static 'image/google.png' %}" style="height:70px;width:200px;"></a>
        </div>
      </div>

    </div>

            <div class="col-xs-12 col-sm-4 col-md-3 mt-5">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card border-primary mb-4" style="max-width:25rem;">

        <div class="card-header text-center">
          <h3 class="text-center" style="color:grey;font-size:15px;">Sign up to see photos and videos from your friends.</h3>
        </div>
        <div class="card-body text-primary">

          <form action="/accounts/register/" method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>

  </div>
  <br>
  <br>
  <!-- empty div -->


  <div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul>
          <br>

          <li style="font-size:20px;"> <strong>© 2018 FEISAL IBRAHIM</strong></li>
        </ul>

      </div>

    </div>
  </div>
</div>
<style>
  ul{
  list-style:none;
  }
</style>
{% endblock %}